.single-header
  .single-header__main
    =link_to root_path, class: "single-header__logo" do
      = embedded_svg("fmarket_logo_red.svg", class: "single-header__logo")

.single-main
  .single-main__contents
    .single-main__contents__top
      新規会員登録
    .single-main__contents__form
      .single-main__contents__form__box
        = link_to signup_registration_path, class: 'single-main__contents__form__box__mail' do
          =fa_icon "envelope" , class: 'btn'
          %p.single-main__contents__form__box__mail__text メールアドレスで登録する
        - unless Rails.env.production?
          = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'single-main__contents__form__box__facebook' do
            =fa_icon "facebook-square" , class: 'btn'
            %p.single-main__contents__form__box__facebook__text Facebookで登録する
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'single-main__contents__form__box__google' do
            =fa_icon "google" , class: 'btn'
            %p.single-main__contents__form__box__google__text Googleで登録する

= render partial: 'signup-footer'
