=render partial: 'shared/header'
=render partial: 'shared/sell_icon'

.nav-breadcrumb
  - breadcrumb :mypage
  = render partial: 'shared/bread-crumbs'
.mypage-index
  .mypage-index__box
    .mypage-nav
      =render partial: 'shared/nav-bar'
    .mypage-contents
      .card
        .card__chapter
          支払い方法
        .card__main
          - if @default_card_information
            .card__main__contents
              .card__main__contents--nav
                クレジットカード一覧
              .card__main__contents__box
                .card__main__contents__box__list
                  = image_tag "visa.png",width:49,height:20, alt: "visa"
                  %br
                  = "**** **** **** " + @default_card_information.last4
                  %br
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year
                  = form_tag(mypage_card_delete_path, method: :delete, id: 'charge-form', name: "inputForm") do
                    %input{ type: "hidden", id: 'card-charge-form', name: "card_id", value: "" }
                    %button{id: 'card-charge-form'} 削除する
            = link_to "支払い方法について＞", "#", class: 'card-nav'
          - else 
            .card__main__contents
              .card__main__contents--nav
                クレジットカード一覧
              .card__main__contents__box
                = link_to "クレジットカードを追加する", mypage_card_create_path, class: 'add-card-btn'
            = link_to "支払い方法について＞", "#", class: 'card-nav'
