.single-header
  .single-header__main
    =link_to '#', class: "single-header__logo" do
      = embedded_svg("fmarket_logo_red.svg", class: "single-header__logo")

.login-main
  .login-main__contents
    .login-main__contents__no-account
      %p アカウントをお持ちではない方はこちら
      = link_to "新規会員登録", signup_path
    .login-main__contents__sns-form
      = link_to '#', class: 'single-main__contents__form__box__facebook' do
        =fa_icon "facebook-square" , class: 'btn'
        %p.single-main__contents__form__box__facebook__text Facebookで登録する
      = link_to '#', class: 'single-main__contents__form__box__google' do
        =fa_icon "google" , class: 'btn'
        %p.single-main__contents__form__box__google__text Googleで登録する
    .login-main__contents__inner-form
      %input.signup-main__contents__form__one__group__input{:placeholder => "メールアドレス"}/
      %br/
      %input.signup-main__contents__form__one__group__input{:placeholder => "パスワード"}/
      %br/
      .login-main__contents__inner-form__recaptcha
        私はロボットではありません(仮置き)
      .signup-main__contents__form__two__btn
        = link_to 'ログイン', "#", class: 'signup-main__contents__form__two__btn'
      %a(href="#") パスワードをお忘れの方

= render partial: 'signup/signup-footer'