=render partial: 'shared/header'


.items-show
  .show-main
    .show-main__title
      %p NIKE COURT FORCE LOW ナイキ コートフォースロー
      %p 24.5cm
    .show-main__pictures
      .main-slider
        %div
          = image_tag "shoes.jpg", class: "picture--main"
        %div
          = image_tag "shoes2.jpg", class: "picture--main"
        %div
          = image_tag "shoes3.jpg", class: "picture--main"
        %div
          = image_tag "shoes4.jpg", class: "picture--main"
        %div
          = image_tag "shoes.jpg", class: "picture--main"
        %div
          = image_tag "shoes2.jpg", class: "picture--main"
        %div
          = image_tag "shoes3.jpg", class: "picture--main"
        %div
          = image_tag "shoes4.jpg", class: "picture--main"

    .show-main__info
      %table.info-table
        %tbody
          %tr
            %th 
              出品者
            %td 
              =link_to 'user name', '#', class: 'item-show-link'
              %br
              .user-rate
                =fa_icon 'smile-o', class: 'user-rate--good'
                %span 602
                =fa_icon 'meh-o', class: 'user-rate--normal'
                %span 9
                =fa_icon 'frown-o', class: 'user-rate--bad'
                %span 2
          %tr
            %th 
              カテゴリー
            %td 
              =link_to 'レディース', '#', class: 'item-show-link'
              %br
              =link_to '#', class: 'item-show-link' do
                =fa_icon 'chevron-right'
                靴
              %br
              =link_to '#', class: 'item-show-link' do
                =fa_icon 'chevron-right'
                スニーカー
          %tr
            %th 
              ブランド
            %td 
              =link_to 'ナイキ', '#', class: 'item-show-link'
          %tr
            %th 
              商品のサイズ
            %td 
              24.5cm
          %tr
            %th 
              商品の状態
            %td 
              目立った傷や汚れなし
          %tr
            %th 
              配送料の負担
            %td 
              送料込み(出品者負担)
          %tr
            %th 
              配送の方法
            %td 
              らくらくメルカリ便
          %tr
            %th 
              配送元地域
            %td 
              =link_to '埼玉県', '#', class: 'item-show-link'
          %tr
            %th 
              発送日の目安
            %td 
              1~2日で発送
    .show-main__price
      %span.show-main__price--bold
        ¥5,360 
      %span.show-main__price--tax
        (税込) 
      %span.show-main__price--shipping
        送料込み

    =link_to '#', class: 'show-main__purchase-btn' do
      %span 購入画面に進む
    
    .show-main__text
      %p NIKE COURT FORCE LOW ナイキ コートフォース ロー 24.5cm
      人気のナイキ コートフォース ローです。usedですが目立ったダメージは無く、比較的美品です。
      %br
      ◇定価：¥13,800
      ◇状態：半年使用 箱無し
      ◇カラー：WHITEホワイト白/GREENグリーン緑/シルバー
      ◇サイズ：24.5cm
      %br
      \#NIKE
      \ナイキ
      \#コートフォース
      \#レディーススニーカー
      \#ダンク
      \#BLAZER
      \#ナイキブレザー
      \#ターミネーター
      \#エアフォース
      \#VANS
      \#バンズ
      \#スケハイ
      %br
      ご質問などお気軽にコメント下さいませ。
      お待ちしております★
    .show-main__footer
      .show-main-footer__left
        %button.show-main-footer__left--like
          =fa_icon 'heart-o', class: 'like-icon'
          %span いいね！
          %span 11
        =link_to '#', class: 'show-main-footer__left--report' do
          =fa_icon 'flag-o'
          %span 不適切な商品の報告

      =link_to '#', class: 'show-main-footer__right item-show-link' do
        =fa_icon 'lock'
        あんしん・あんぜんへの取り組み

  .show-comment
    .show-comment__message
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .show-comment__form
      =form_tag('#', method: :get) do
        %textarea{class: 'show-comment__form--textarea', type: 'text'}
        %button{type: 'submit', class: 'show-comment__form--btn'}
          %span コメントする

  .show-link
    %ul.show-link__inside
      %li
        =link_to '#', class: 'item-show-link item-show-link--hover' do
          =fa_icon 'chevron-left'
          %span ニューバランス GM300JBK 28cm
      %li 
        =link_to '#', class: 'item-show-link  item-show-link--hover' do
          %span【JUNON】2017.11月号
          =fa_icon 'chevron-right'


  .show-sns
    =link_to '#', class: 'item-show-link' do
      =fa_icon 'facebook-square', class: 'show-sns--facebook'
    =link_to '#', class: 'item-show-link'do
      =fa_icon 'twitter-square', class: 'show-sns--twitter'
    =link_to '#', class: 'item-show-link' do
      =fa_icon 'pinterest-square', class: 'show-sns--pinterest'

  .show-title
    =link_to '#', class: 'item-show-link item-show-link--hover' do
      user nameさんのその他の出品

  =render partial: 'show_pictures'

  .show-title
    =link_to '#', class: 'item-show-link item-show-link--hover' do
      ナイキのスニーカー その他の出品

  =render partial: 'show_pictures'



.showpage-guide
  =link_to 'Fmarket', root_path, class: 'showpage-guide__text'
  =fa_icon 'chevron-right', class: 'showpage-guide__arrow'
  %span.showpage-guide__text.showpage-guide__text--now NIKE COURT FORCE LOW ナイキ コートフォースロー 24.5cm

=render partial: 'shared/footer'




