=render partial: 'shared/header'

.items-show
  .show-main
    .show-main__title
      %p= @item.name
    .show-main__pictures
      .main-slider
        - @images.each do |i|
          %div
            = image_tag i.image_url.to_s, class: "picture--main"
            
    .show-main__info
      %table.info-table
        %tbody
          %tr
            %th 
              出品者
            %td 
              =link_to @item.seller.nickname, '#', class: 'item-show-link'
              %br
              .user-rate
                =fa_icon 'smile-o', class: 'user-rate--good'
                %span ０
                =fa_icon 'meh-o', class: 'user-rate--normal'
                %span ０
                =fa_icon 'frown-o', class: 'user-rate--bad'
                %span ０
          %tr
            %th 
              カテゴリー
            %td 
              =link_to '機能未実装', '#', class: 'item-show-link'
              %br
              =link_to '#', class: 'item-show-link' do
                =fa_icon 'chevron-right'
                機能未実装
              %br
              =link_to '#', class: 'item-show-link' do
                =fa_icon 'chevron-right'
                機能未実装
          %tr
            %th 
              ブランド
            %td 
              =link_to '機能未実装', '#', class: 'item-show-link'
          %tr
            %th 
              商品のサイズ
            %td 
              機能未実装
          %tr
            %th 
              商品の状態
            %td 
              = @item.condition_i18n
          %tr
            %th 
              配送料の負担
            %td 
              = @item.defrayer_i18n
          %tr
            %th 
              配送の方法
            %td 
              らくらくFmarket便
          %tr
            %th 
              配送元地域
            %td 
              =link_to @item.prefecture.name, '#', class: 'item-show-link'
          %tr
            %th 
              発送日の目安
            %td 
              = @item.span_i18n
    .show-main__price
      %span.show-main__price--bold
        ¥
        = @item.price
      %span.show-main__price--tax
        (税込) 
      - if @item.defrayer == 'included'
        %span.show-main__price--shipping 送料込み
      - if @item.defrayer == 'excluded'
        %span.show-main__price--shipping 着払い

    - if @item.status == "onSell"
      =link_to items_buy_path(@item), class: 'show-main__purchase-btn' do
        %span 購入画面に進む
    - else
      .show-main__sold
        %span 売り切れました

    .show-main__text
      %p= @item.text
    .show-main__footer
      .show-main-footer__left
        %button.show-main-footer__left--like
          =fa_icon 'heart-o', class: 'like-icon'
          %span いいね！
          %span= @item.fav
        =link_to '#', class: 'show-main-footer__left--report' do
          =fa_icon 'flag-o'
          %span 不適切な商品の報告

      =link_to '#', class: 'show-main-footer__right item-show-link' do
        =fa_icon 'lock'
        あんしん・あんぜんへの取り組み

  .show-comment
    .show-comment__message
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .show-comment__form
      =form_tag('#', method: :get) do
        %textarea{class: 'show-comment__form--textarea', type: 'text'}
        %button{type: 'submit', class: 'show-comment__form--btn'}
          %span コメントする

  .show-link
    %ul.show-link__inside
      -if @item.next_item
        %li 
          =link_to item_path(@item.next_item), class: 'item-show-link  item-show-link--hover' do
            =fa_icon 'chevron-left'
            %span= @item.next_item.name 
            

      -if @item.previous_item
        %li
          =link_to item_path(@item.previous_item), class: 'item-show-link item-show-link--hover' do
            %span= @item.previous_item.name
            =fa_icon 'chevron-right'



  .show-sns
    =link_to '#', class: 'item-show-link' do
      =fa_icon 'facebook-square', class: 'show-sns--facebook'
    =link_to '#', class: 'item-show-link'do
      =fa_icon 'twitter-square', class: 'show-sns--twitter'
    =link_to '#', class: 'item-show-link' do
      =fa_icon 'pinterest-square', class: 'show-sns--pinterest'

  .show-title
    =link_to '#', class: 'item-show-link item-show-link--hover' do
      ="#{@item.seller.nickname}さんのその他の出品"

  .show-pictures
    = render partial: 'show_picture', locals: { items: @seller_items }


  .show-title
    =link_to '#', class: 'item-show-link item-show-link--hover' do
      ナイキのスニーカー その他の出品

  .show-pictures
    = render partial: 'show_picture', locals: { items: @seller_items }




.showpage-guide
  - breadcrumb :show
  = render partial: 'shared/bread-crumbs'
  %span.showpage-guide__text.showpage-guide__text--now= @item.name

=render partial: 'shared/footer'




